CompletionOverlay {
    height: auto;
    max-height: 10;
    width: 100%;
    background: $surface;
    border: solid $primary;
    display: none;
}

CompletionOverlay OptionList {
    height: auto;
    max-height: 8;
}
