CompletionOverlay {
    dock: bottom;
    height: auto;
    max-height: 10;
    layer: overlay;
    offset-y: -3;
    background: $surface;
    border: tall $primary;
    display: none;
}

CompletionOverlay OptionList {
    height: auto;
    max-height: 8;
}
