ModelCard {
    height: auto;
    border: tall $surface-lighten-2;
    padding: 0 1;
    pointer: pointer;

    &:hover {
        background: $surface;
    }

    &.-highlight {
        border: tall $primary;
    }

    .card-body {
        width: 1fr;
    }
}
