#task-center-title {
    text-style: bold;
    padding: 0 1;
    height: 1;
}

#task-table {
    height: 1fr;
}

#task-detail {
    height: auto;
    max-height: 5;
    padding: 0 1;
    border-top: solid $surface-lighten-2;
}
